h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: "Archivo";
    margin: 0;
    padding: 0;
    padding-top: 7rem;

}

h2 {
    text-align: center; 
    color: white;
    font-size: 35px;
    font-family: "Archivo";
    margin: 0;
    padding: 0;
    padding-top: 3rem;
}

.logo {
  width:12rem;
}

.navbar-brand {
  padding-left: 1rem;
}


.main-container {
    width: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #d887d8, #a93f70);
    background-size: 600% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.navbar {
    padding: 0;
    padding-top: 2rem;
    padding-right: 3rem;
  }
  
  
  .nav-item {
    padding: 0 18px;
    text-align: center;
    color:white;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Archivo";
    color:rgb(211, 211, 211);    

  }

  .nav-link:hover {
    font-size: 1.2rem;
    font-family: "Archivo";
    color:white;  
  }

  .wrapper-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    height:3rem;
    width: 8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    font-family: "Archivo";
    font-size: 20px;
  }

  .button:hover {
    height:3.6rem;
    width: 8.6rem;
    font-family: 30px;
  }
  