.Feed-component *{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    /*   overflow-x:hidden; */
}
.Feed-component img {
    vertical-align: middle;
    border-style: none;
}
.Feed-component .content{
    width:100%;
    height: 100%;
    margin:5px auto;

}

.Feed-component .center{
    margin:50px 30%;
}

.Feed-component .form{
}

.Feed-component .form-body{
    border-radius: 50px;
}

.Feed-component .form-submit{
    width:100%;
    display:block;
    color:gray;
    padding:11px 35px;
    background: #EBF3FA;
    border-radius:50px;
}


.Feed-component .form-body img{
    float:left;
    width:45px;
    position:relative;
    left:-55px;
}

.Feed-component .post{
    /*   height:300px; */
    margin:50px -65px;
    border-radius:5px;
    border:1px solid gray;
    padding:12px;

    background: #fff;
    box-sizing: border-box;
    max-width: 375px;
    margin: 0px auto 20px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
}

.Feed-component .post .info{
    position:relative;
    top:15px;
    margin: 10px 0;
    border-radius: 8px;
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.Feed-component .post .info img{width:45px;}
.Feed-component .post .info p{
    position:relative;
    top:-40px;
    left:60px;
    font-size:15px;
    font-family:Arial,Helvetica,sans-serif;
}

.Feed-component .post-body{
    padding:15px;
    margin:10px 0;
    border-radius:8px;

}

.Feed-component .post-body p{
    font-size:20px;
    margin:5px 0;
}

.Feed-component .post-body img,
.Feed-component .post-body video{
    text-align:center;
    width:100%;
    height:100%;
    border-radius:8px;
}
.Feed-component .bold {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.Feed-component .post .post-bottom {
    /* text-align: center; */
    padding: 5px;
    /* margin: 0; */
    /* margin-top: 10px; */
    /* border-top: 1px solid gray; */
    padding: 21px 0 16px 10px;
}



.Feed-component .post .post-bottom i{
    margin:0 10px;
    padding:5px 5%;
    border-radius:40px;
    transition:.5s;
}

.Feed-component .post .post-bottom i:hover{
    background:#F0FFFF;
    color:#8DEBFF;
}

/* NEW POST */

.Feed-component .liked {
    color: red;
    font-weight: bold;
}

.Feed-component .comment{
    position:absolute;
    top:0;
    background:rgba(242, 243, 245, 0.40);
    width:100%;
    height:100%;
    min-height:150%;
}

.Feed-component .block{
    display:block;
}

.Feed-component .comment-box {
    position: absolute;
    top: 0%;
    /* left: 5%; */
    background: #fff;
    border: 1px solid whitesmoke;
    display: block;
    border-radius: 8px;
    margin: 100px auto;
    padding: 10px;
    width: 40%;
}

.Feed-component .comment-header{
    padding:10px;
    border-bottom:1px solid gray;
    border-radius:5px 5px 0px 0px;
    min-height:26px;

}

.Feed-component .comment-header h3{
    width:80%;
    float:left;
    text-align:center;
}

.Feed-component .comment-header i{
    border-radius:50px;
    background:#e7e7e7;
    padding:5px 8px;
    font-size:1.5rem;
}

.Feed-component .comment-body textarea{
    min-width:93%;
    max-width:94%;
    margin:10px 1%;
    border:none;
    border-radius:5px;
    padding:5px;
    font-size:20px;
    min-height:200px;
    max-height:250px;
}

.Feed-component .comment-body textarea:focus{
    border:none;
}

.Feed-component .button-send{
    width:100%;
    margin:20px 4px;
    background:#e7e7e7;
    color:gray;
    padding:10px 5px;
    border-radius:8px;
    text-align:center;
}

.Feed-component .button-send:hover{
    background:rgba(218,218,218,0.50);
}

.Feed-component .comment-bottom{
    margin:10px;
    padding:2px;
}

.Feed-component .comment-bottom i{
    margin-left:15px;
    background:whitesmoke;
    padding:6px 5%;
    border-radius:40px;
    width:10%;
    text-align:center;
}

.Feed-component .comment-bottom i:hover{
    background:#EF78;
    color:#f0f0f0;
}


.Feed-component .comment-header .message{
    /*   display:none; */
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:15px 0;
    background:aqua;
    color:#fff;
    text-align:center;
}

.Feed-component .icon input[type="file"]{
    display:none;
}

@media screen and (max-width:562px){
    .Feed-component .comment-box{
        width:80%;
    }
}

/* ICON STYLE */
.Feed-component .fas{
    font-size:1.3rem;
}


.Feed-component .fa-share{
    color:yellowgreen;
}

.Feed-component .fa-comment{
    color:#FFD32D;
}

.Feed-component .fa-photo-video{
    color:green;
}

.Feed-component .fa-music{
    color:orange;
}

.Feed-component .fa-file-upload{
    color:#6AC8FF;
}
.Feed-component .liked {
    color: #ff0000;
}

.Feed-component .likedcomment{
    color: #ff0000;

}