.posts-component body {
    margin: 0;
    padding: 0;
    font-family: "source sans pro", sans-serif;
    font-weight: 400;
    color: #000000;
    background: #dee2e6;
    font-size: 13px;
    line-height: 16px;
    padding: 0 20px;
}
.posts-component .width {
    background: #fff;
    box-sizing: border-box;
    max-width: 375px;
}
.posts-component header {
    display: flex;
    height: 67px;
    justify-content: space-between;
    padding: 15px 16px;
    border: 1px solid #c4c4c4;
    border-radius: 6px 6px 0 0;
    margin: 0 auto;
    margin-top: 20px;
}

.posts-component section {
    background: #fff;
    box-sizing: border-box;
    max-width: 375px;
    margin: 0px auto 20px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
}
.posts-component section:nth-child(1) {
    color: red;
}

.posts-component .img-avtar {
    height: 100%;
    width: auto;
}
.posts-component .img-circled {
    border-radius: 50%;
}
.posts-component .post-details {
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.posts-component .user {
    display: block;
    margin-left: 7px;
}
.posts-component .bold {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.posts-component .post-container {
    width: 100%;
}
.posts-component .img-post {
    width: 100%;
}
.posts-component .post-desc {
    padding: 21px 0 16px 10px;
}
.posts-component .logo {
    height: 23px;
    width: 23px;
    margin-right: 20px;
    font-size: 150%;
}
.posts-component .icon-button {
    cursor: pointer;
    margin: 5px;
    font-size: 24px;
}
.posts-component .image-container {
    position: relative;
}

.posts-component .image-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.posts-component .icon-button {
    cursor: pointer;
    margin: 5px;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
}

.posts-component .prev-button {
    left: 0;
}

.posts-component .next-button {
    right: 0;
}